.c-modal {
    position: relative;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10000;
}

.c-modal-open {
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background: #0dcaf0;
}

.overlay {
    background: rgba(49,49,49,0.8);
}



.modal-view-content, .modal-edit-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    z-index: 10000000000;
}

.modal-button button {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 3em;
}
